version: "3"
services:
  # redis:
  #   image: redis:latest
  #   ports:
  #     - "6379:6379"
  api:
    container_name: myrails
    build: .
    ports:
      - "3000:3000"
    volumes:
      - "./db:/app/db"
      - "./app:/app/app"
      - "./config:/app/config"
    
